
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,800;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    
}

.Front-Page-View{
    width: 100%;
    background-color: #01313F;

}
.Navbar{
    display: flex;
    padding: 10px; 
    /* background-color: black; */
    background-image: linear-gradient(60deg,#3d3e40 0%, #000000 100% );
  
}
.full-nav-width{
    display: inline-block;
    
}
.navcon{
    width: 80vw;
    margin: 0 auto;
}
.navbutton{
    display: none;
}

.Mainicons{
    width:60px;
}

.navcon ul{
    
    float: right;
    line-height:60px;
    margin-bottom: 0;
}
.navcon ul li{
    display: inline-block;
    
    text-decoration: none;
    list-style: none;
    margin: 0 10px;
}
.navcon ul li a:nth-of-type(1){
    font-weight: 500;
    background-color: white;
    color: #0b090b;
    border-radius: 2px;
    padding: 10px;
    
}
#hometag{
    opacity: 1;
}

.navcon ul li a{
    color: white;
    opacity: 0.4;
    text-align: center;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: 1s;
}
.navcon ul li a:hover{opacity: 1.5;}



.infromation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;

    

}
.infromation-text{
    padding: 28px;
    max-width: 500px;
    
}
.gifframe{
    margin: 30px 30px 30px 30px;
    
}
.gifframe img{ 
    
    padding: 0px;
    object-fit: scale-down;
    width: 100%;
    
    
}

.infromation-text h1{
    font-weight: 800;
    color: white;
    text-align: left;
    font-size: 3rem;
    
    
}



.infromation-text p{
    
    color: rgb(210, 210, 210);font-weight: 300;
    font-size: 1rem;
}



.description{
    display: inline-block;
    margin: auto 10px;
    max-width: 850px;
    padding: 50px;
    color: #00B3DD;
}
.readmore-infromation{
    display: inline-block;
    margin-top: 10px;
}
.readmore-infromation a{
    text-decoration: none;
    color: white;
}


/* --->>>>>> */

#Profile-Tab{
    
    background-color: #F7F9FB;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    
}
.about{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    margin: 100px 0 100px 0;
    width: 80%;
}
.profile-Image-Box{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    border: 2px solid white;
    padding: 50px ;

}
.profile-Image-Box img{
    width: 200px;
}

.about-infromation{
    max-width: 50%;
   
}


.portfolio-minor-infromation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}



/* ---->>>> Skill Tab */
#skills{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #ade0f9;
background-image: linear-gradient(0deg, #ade0f9 0%, #F6F9FB 100%);

    
}

.skillMeass{
    margin: 25px;
}
.skillMeass h1{
    font-weight: 900 ;
}
.skillMeass p{
    font-weight: 500 ;
}
.skillMeassEnd p{
    
    width: 60%;
    display: block;
    margin: 25px auto;
    text-align: center;
}
.skills-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: space-around;
    justify-content: space-around;
    
}

.skill-box{
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 10px;
 
    background-color: white;
    height: 350px;
    width:280px;
    transition: 1s;
    cursor: pointer;
   
}
.skill-box:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    background-color: #3EECAC;


}
.weblogo{
    object-position:center ;
    padding: 20px;
    width: 123px;
    background-color: transparent;
}
.skill-box h1{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}
.skill-box p{
    text-align: center;
    padding: 5px;
}



/* Tools frame*/
#tools-used{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    width: 100%;


}

.tools-box{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}
.tools-logo{
    
    padding: 20px;
    max-width: 600px;
    flex-direction: column;
    display: flex;

    flex-grow: 1;
    
    
}
.tools-logo p{
    margin-bottom: 20px;
}

.tools-logo h1:nth-of-type(2){
    margin-top: 50px;
}
.tools-logo-box{
    border-radius:20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */

}
.more-button p{
    text-align: center;
   
}

.tools-logo-box img{
    
    margin: 20px;
    
}

.toolsInfo{
    margin: 20px;
    /* height: 400px; */
    max-width: 700px;
    padding: 20px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #0b090b;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    
}
.toolsInfo p{
    color: #00B3DD;
}
.toolsInfo img{
    object-fit: scale-down;
    max-width: 100%;
        max-height: 100%;
        display: block;
    
}


/* -------<>>>>>>Projects-Tab */
#Projects-tab{
    background-image: linear-gradient(to top, #EDEDED 0%, #ace0f9 100%);
    height: 100%;
    position: relative;
}
#gitwalk{
    position: absolute;
    bottom: 0;
    top: 10px;
    right: 20px;
    height: 450px;   
}

.tab-infromation{
    display: inline-block;
    margin:  10% 10% 3% 10%;
    max-width: 600px;
}
.tab-infromation h1{
    font-weight:900;
    font-size: 2.5rem;
}
.tab-infromation p:nth-of-type(1){
    font-weight:500;
    font-size: 1.5rem;
}





.Main-Project-contaner{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.contaner-box{
    margin:20px 0;

    /* border-style: none none solid none;
    border-color: #0b090b;
     */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    
}
.Img-Div-box{
    
    
    margin: 10px;
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    text-align: center;
}
.Img-Div-box img:nth-of-type(1){
    height: 20em;
    width: 100%;
    object-fit: scale-down;
    
    border-radius: 20px;
    padding: 10px;
    

}
.Img-Div-box img::nth-of-type(2){
    height: 20em;
    width: 100%;
    object-fit: scale-down;
    border-radius: 20px;
    padding: 10px;
    
}

.Labels-Div-box{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 30px;
    max-width: 800px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 20px;  
}
.source{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.Labels-Div-box h1{
    font-size: 2.5rem;
}
.Labels-Div-box p{
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}


.labels-Imformation{

    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
}


.smalllogo{
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;

}
.Labels-Div-box a{
    text-decoration: none;
 
}


.more-projects{
    
    padding: 10% 10% 10% 10%;
    

}

.more-projects p{
    font-weight: 500;
    font-size: 1.6rem;
}


/* achievement-tab>>>>>>> */
.Achievement-Tab{
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
    flex-direction: column;
    height: 100%;
    
    position: relative;
    
}
.win-gif{
    
    object-fit: scale-down;
    
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.meassage-achievement{
    position: absolute;
    top: 0;
    background: -webkit-linear-gradient(rgb(47, 81, 90), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 10% 10% 0 10%;
    max-width: 500px;
    color:white;
}
.working-area{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    
}
.centreslider{
    margin: auto auto;
}

.cardheight{
    
    min-height: 490px;
    border-radius:20px ;
}
.Achivement-color{
    background-color: #EDEDED;
    
background-image: linear-gradient(0deg, #ffffff 0%, #ededed 18%);


}

.Preicon{
    background-color: #2F3034;
}

.Nexticon{
    background-color: #2F3034;
}



 /* Footer ------> */
 .footer-Tab{
    background-color:#2F3034;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    
    
    position: relative;
 }
 .backimageframe{
    
  background-color: transparent;
 }


 
 .footer-back{
    /* position: absolute;
    width: 100%;
    z-index: -1;
    margin-bottom: 5%;
    bottom: 300px;
     */

     width: 100%;

 }
 .icons-social-media-div{

    
    margin: 10px 30px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
    
 }
 .icons-social-media-div img{
    padding: 5px;
    max-height: 40px;
    margin-left: 20px;
    opacity: 0.5;
    cursor: pointer;
    transition: 1s;
 }
 .icons-social-media-div img:hover{
    opacity: 1.5;
    
 }
 .footers-meassage{
    color: rgb(143, 143, 143);
    margin: 10px 10px;
    padding: 10px;
    max-width: 500px;
 }
 .allright{
    
    margin: 0 20px;
    border-top: 5px solid rgb(77, 77, 77);
    
    background-color: #2F3034;
    text-align: center;
    color: white;
    

    
 }
 .project-Logo-image {
      height: 50px;

    
 }



 .boxfortopproject{
    margin: 10px;
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    text-align: center;
    overflow:hidden;    
 }

 .relativediv{
    
    perspective: 10px;
    max-width: 800px;
    transform-style: preserve-3d;
    
    
}
.smallsizeImg1, .smallsizeImg2,.smallsizeImg3,.bmaxappgif{
    max-height: 25em;
    border-radius: 15px;
    object-fit: scale-down;
    border: 5px solid #3f3f3f ;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.773);
    
}
.bmaxappgif{
    width: fit-content !important;
    padding: 0px !important;
}
.smallsizeImg1{
    position: relative;
}
.smallsizeImg2{
    position: relative;
    transform: translateZ(-20px) scale(2.5);
    left: -18em;
    top: 0;

    
}
.smallsizeImg3{
    position: relative;
    transform: translateZ(-20px) scale(2.5);
    left: 18em;
    top: 0;

}
@media (max-width: 750px)

{
 

    .smallsizeImg1{
        position: relative;
    }
    .smallsizeImg2{
        position: absolute;
        transform: none;

    }
    .smallsizeImg3{
        position: absolute;
        transform: none;

    }

    
}
